go 1.21

toolchain go1.21.0

use ./00001reversestr
use ./00002validpalindrome
use ./00003vacuumcleaning
use ./00004correctcapitalization
use ./00005binarysum
use ./00006longestcommonprefix
use ./00007validpalindrome2
use ./00008twosum
